<%def money(num)
  "$#{num.gsub(/\d(?=(...)+$)/, '\0,')}"
end
%>
<p>Vamos a dimensionar el clúster de OCP para tú Cloud Pak for Data, llena los parámetros de configuración</p>

<p>
<form action="/" method="get">
<button type="submit"> <-- Regresar </button>
</form>
</p>
<p style="font-style: italic;">
NOTAS:<br>
*Los precios lista que se presentarán son calculados y pueden variar respecto a los presentados en IBM Cloud en +-1%<br>
**Para procesos de special bid es requerido obtener los precios lista desde cloud.ibm.com<br>
</p>

<form action="/cp4drespuesta" method="get">

<table style="width:100%" align="left">
  <tr>
    <th bgcolor="#00008B" style="color: white; width:50%" >Parámetros Clúster</th>
  </tr>
  <tr>
    <td>
        <!-- tabla parametros del clúster -->
        <table style="width:100%" align="left">
          <tr>
            <th bgcolor="#00008B" style="color: white;">Parámetro</th>
            <th bgcolor="#00008B" style="color: white;">Valor</th>
          </tr>
          <tr>
            <td>CPU</td>
            <td>
              <label for="cpu"><input type="number" id="cpu" name="cpu">
            </td>
          </tr>
          <tr>
            <td>RAM (GB)</td>
            <td>
              <label for="RAM (GB)"><input type="number" id="ram" name="ram">
            </td>
          </tr>
          <tr>
            <td>Almacenamiento Blockstorage/Filestorage (GB)</td>
            <td>
              <label for="Almacenamiento Filestorage (GB)"><input type="number" id="storage" name="storage">
            </td>
          </tr>
          <tr>
            <td>IOPS Almacenamiento</td>
            <td>
              <select name="iops" id="iops">
                <option value=".25">.25</option>
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="10">10</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Región</td>
            <td>
              <select name="region" id="region">
                <option value="mexico">México</option>
              </select>
            </td>
          </tr>

          <tr>
            <td>Precios del País</td>
            <td>
              <select name="preciopais" id="preciopais">
                <option value="mexico">México</option>
              </select>
            </td>
            <tr>
              <td>Tipo Infraestructura</td>
              <td>
                <select name="tipoinfra" id="tipoinfra">
                  <option value="shared">Compartida</option>
                </select>
              </td>
        </table>


    </td>
  </tr>
  <tr>
    <th bgcolor="#00008B" style="color: white; width:50%" >Parámetros Respaldos</th>
  </tr>

</table>



<p>
<button type="submit">Quiero mi dimensionamiento</button>
</p>



</form>
<!--%=respuestastorage%-->
<% if (respuestastorage != nil and respuestastorage.size>0) then%>
<h3>Dimensionamiento Almacenamiento</h3>
  <table  style="width:100%" align="left">
    <thead>
      <tr>
        <th bgcolor="#00008B" style="color: white;">IOPS/GB</th>
        <th bgcolor="#00008B" style="color: white;">Tamaño máximo</th>
        <th bgcolor="#00008B" style="color: white;">Unidades de Tamaño Máximo</th>
        <th bgcolor="#00008B" style="color: white;">Precio Unidades</th>
        <th bgcolor="#00008B" style="color: white;">Unidad Restante</th>
        <th bgcolor="#00008B" style="color: white;">Precio Unidad Restante</th>
      </tr>
    </thead>
    <tbody>
      <% respuestastorage.each do |json| %>
        <tr>
          <td><%= json["iops"].to_s %></td>
          <td><%= json["maxunit"].to_s %></td>
          <td><%= json["unidades"].to_s %></td>
          <td><%= json["precio"].to_s %></td>
          <td><%= json["unidadrestante"].to_s %></td>
          <td><%= json["preciounidadrestante"].to_s %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<!--%=respuestastorage%-->
<% if (respuestasizing != nil and respuestasizing.size>0) then%>
<h3>Dimensionamiento Clúster más económico</h3>
  <table  style="width:100%" align="left">
    <thead>
      <tr>
        <th bgcolor="#00008B" style="color: white;">Flavor</th>
        <th bgcolor="#00008B" style="color: white;">Tipo de Infraestructura</th>
        <th bgcolor="#00008B" style="color: white;">Workers</th>
        <th bgcolor="#00008B" style="color: white;">Precio</th>
        <th bgcolor="#00008B" style="color: white;">Precio con Subscripción OCP</th>
      </tr>
    </thead>
    <tbody>
      <% respuestasizing.each do |json| %>
        <tr>
          <td><%= json["flavor"].to_s %></td>
          <td><%= json["infra_type"].to_s %></td>
          <td><%= json["workers"].to_s %></td>
          <td><div class="myDIV"><%= json["precio"].to_s %></div></td>
          <td><div class="myDIV"><%= json["precio_subs"].to_s %></div></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if (respuestasizingalt != nil and respuestasizingalt.size>0) then%>
<h3>Alternativas del Dimensionamiento Clúster</h3>
  <table  style="width:100%" align="left">
    <thead>
      <tr>
        <th bgcolor="#00008B" style="color: white;">Flavor</th>
        <th bgcolor="#00008B" style="color: white;">Tipo de Infraestructura</th>
        <th bgcolor="#00008B" style="color: white;">Workers</th>
        <th bgcolor="#00008B" style="color: white;">Precio</th>
        <th bgcolor="#00008B" style="color: white;">Precio con Subscripción OCP</th>
      </tr>
    </thead>
    <tbody>
      <% respuestasizingalt.each do |json| %>
        <tr>
          <td><%= json["flavor"].to_s %></td>
          <td><%= json["infra_type"].to_s %></td>
          <td><%= json["workers"].to_s %></td>
          <td><%= json["precio"].to_s %></td>
          <td><%= json["precio_subs"].to_s %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
